<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>< %=title% ></title>
</head>
<body>
    
    <h2>login System</h2>
    <h1>Sign up</h1>
    <form>
        Name:<input type="name" value="name">
        Address:<input type="address">
        Email:<input type="email" value="email">
        button:<input type="submit">
        gender:<input type="gender" value="male">
        gender:<input type="gender" value="female">
        ge

    </form>
</body>
</html>